<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>

    <div th:include="fragments :: head (titulo='Iniciar sesión')"></div>

    <link rel="stylesheet" th:href="@{/css/custom/login-style.css}">
</head>
<body class="custom-body">
<!-- Navbar -->
<div th:replace="fragments::menuBar" class="navbar-container"></div>

<!-- Contenido centrado -->
<div class="content">
    <div class="login-container">
        <h1 class="login-title">Iniciar sesión</h1>

        <!-- Mensaje de error si lo hubiera -->
        <div th:if="${error != null}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <!-- Formulario de login -->
        <form th:action="@{/login}" method="post" th:object="${loginData}">
            <div class="form-group">
                <label for="email" class="form-label">Correo</label>
                <input type="email" id="email" th:field="*{email}" placeholder="info@tpvv.com" required class="form-input"/>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" th:field="*{contrasenya}" placeholder="********" required class="form-input"/>
            </div>
            <button type="submit" class="submit-button">Aceptar</button>
        </form>
    </div>
</div>

<div th:replace="fragments::javascript"></div>
</body>
</html>
