<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comercios</title>
    <link rel="stylesheet" th:href="@{/css/custom/listado-comercios-style.css}">
    <div th:include="fragments :: head (titulo='Iniciar sesión')"></div>

</head>
<body class="body-background">
<div th:replace="fragments::menuBar" class="navbar-container"></div>
<div class="container">
    <h1 class="title">Comercios</h1>
    <form class="busqueda" th:action="@{/api/tecnico-or-admin/comercios}" method="get">
        <label>Id</label>
        <label>Nombre</label>
        <label>Cif</label>
        <label>País</label>
        <label>Fecha Desde</label>
        <label>Fecha Hasta</label>
        <label></label>
        <input type="text" name="id" class="search-input">
        <input type="text" name="nombre" class="search-input">
        <input type="text" name="cif" class="search-input">
        <select id="pais" name="pais" class="form-select" aria-label="Default select example">
            <option th:value="null" selected>Todos</option>
            <option th:each="pais : ${paises}" th:value="${pais.nombre}" th:text="${pais.nombre}"></option>
        </select>
        <input type="date" name="fechaDesde" class="search-input">
        <input type="date" name="fechaHasta" class="search-input">
        <button type="submit" class="btn btn-light">Aplicar filtros</button>
    </form>

    <a th:if="${usuario.getTipoId()==1}" th:href="@{/api/admin/crearcomercio}">Crear nuevo comercio</a>
    <div class="table-container">
        <table class="data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Fecha Alta</th>
                <th>Nombre</th>
                <th>Cif</th>
                <th>País</th>
                <th>Provincia</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercio: ${comercios}">
                <td th:text="${comercio.id}"></td>
                <td th:text="${comercio.fechaAlta}">10/07/2024 16:44</td>
                <td th:text="${comercio.nombre}"></td>
                <td th:text="${comercio.cif}"></td>
                <td th:text="${comercio.pais}"></td>
                <td th:text="${comercio.provincia}"></td>
                <td th:if="${comercio.activo}" class="status-active">Activo</td>
                <td th:if="${!comercio.activo}" class="status-inactive">Desactivado</td>
                <td>
                    <a th:href="@{'/api/tecnico-or-admin/comercios/detalles/' + ${comercio.id}}" class="btn btn-info">Detalles</a>
                    <form class="estado" th:action="@{/api/tecnico-or-admin/comercios/estado/{idComercio}(idComercio=${comercio.id})}" method="post">
                        <button  type="submit" th:if="${comercio.activo}"  class="btn btn-danger">Desactivar</button>
                        <button  type="submit" th:if="${!comercio.activo}"  class="btn btn-success">Activar</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="pagination">
    <!-- Link "Anterior" -->
    <a th:if="${currentPage > 0}"
       th:href="@{/api/tecnico-or-admin/comercios(
         page=${currentPage - 1},
         id=${idFilter},
         nombre=${nombreFilter},
         cif=${cifFilter},
         pais=${paisFilter},
         fechaDesde=${fechaDesdeStr},
         fechaHasta=${fechaHastaStr}
       )}"
       th:text="${currentPage}">&lsaquo; Anterior</a>

    <span class="page-item active">
        <span th:text="${currentPage + 1}"></span>
    </span>

    <!-- Link "Siguiente" -->
    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{/api/tecnico-or-admin/comercios(
         page=${currentPage + 1},
         id=${idFilter},
         nombre=${nombreFilter},
         cif=${cifFilter},
         pais=${paisFilter},
         fechaDesde=${fechaDesdeStr},
         fechaHasta=${fechaHastaStr}
       )}"
       th:text="${currentPage + 2}">
        Siguiente &rsaquo;
    </a>
</div>


<script type="text/javascript">



</script>
<div th:replace="fragments::javascript"></div>
</body>
</html>